@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pattaya&display=swap');
@import 'tailwindcss';

html {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

body {
  width: 1280px;
  padding: 0 20px;
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

.global-button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 7px;
  color: white;
  background-color: var(--color-sky-400);
}

.global-button:hover {
  outline: 2px solid var(--color-sky-700);
}

input {
  padding: 7px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

input:hover {
  outline: 2px solid var(--color-sky-400);
}

input:focus {
  outline: 2px solid var(--color-sky-400);
  background-color: white;
}

.search-input {
  outline: 1px solid var(--color-sky-400);
}
